{% load thumbnail %}
{% if instance.portafolio.all %}
{% for p in instance.portafolio.all|dictsort:"sequence" %}
    <a href="{% url portafolio-proyect p.slug %}">
		  <div class="moduloFoto"> 
		  {% for image in p.images.all %}
			  {%if image.main %} 
					{% thumbnail image.image "180x97" crop="center" as img %}
					<a href="{# url portafolio-proyect p.slug #}">
						    <img border="0" src="{{ img.url }}" width="{{ img.width }}" height="{{img.height }}" title="Proyecto" />
					</a> 
					{% endthumbnail %}
				  {% endif %}
			  {% endfor %}
			  </div>
			  <div id="moduloTexto">
				  <h2>{{p.service.name}}</h2>
				  <h1><a href="{# url portafolio-proyect p.slug #}">{{p.name}}</a></h1>
				  <h3>{{p.country.name}}</h3>
				  {% spaceless%}
				<p class="liga">
					<a href="{# url portafolio-proyect p.slug #}">

						 {{p.description_short|striptags|linebreaksbr|truncatewords:"29" }}
					</a>
				</p>
				{% endspaceless%}
			  </div>
	</a>
{% endfor %}

{% endif %}
